# vim swap files
*.swp
*.swo

# image files
#*.png
#*.jpg

# video files
*.mkv
*.mp4

# audio files
*.wav
*.pcm

# misc files or directires
networks/netcat_http_server/tailwind_demo.html
security/ssh-tunnel.log
tmp

# python bytes files
*.pyc
